# default = everyone is codeowner
* @crusoeenergy/island

.gitlab/CODEOWNERS @bsherrycrusoe @ksosnowski3 @dpattishall @crusoeenergy/squads/managed-orchestration

# more restrictive ownership for adding dependencies and changing ci/build
.gitlab-ci.yml     @crusoeenergy/squads/managed-orchestration
.golangci-lint.yml @crusoeenergy/squads/managed-orchestration
go.mod             @crusoeenergy/squads/managed-orchestration
Makefile           @crusoeenergy/squads/managed-orchestration
Dockerfile         @crusoeenergy/squads/managed-orchestration
Dockerfile.*       @crusoeenergy/squads/managed-orchestration
